.TitleWhoseTurn {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding: 5px 25px;
  margin: 15px;
  font-family: sans-serif;
  font-size: 30px;
  align-self: center;
  justify-self: center;
  width: 800px;
}
